In [1]:
"""
03 Feature Engineering
Create new features for modeling employee attrition.
"""

'\n03 Feature Engineering\nCreate new features for modeling employee attrition.\n'

In [2]:
from src.feature_engineering import engineer_features
import pandas as pd
from IPython.display import display, Markdown

In [3]:
display(Markdown("""
# Feature Engineering
This notebook creates new features from the cleaned employee attrition dataset to improve model performance and interpretability.
"""))

# Feature Engineering
This notebook creates new features from the cleaned employee attrition dataset to improve model performance and interpretability.

In [4]:
import os

# Print current working directory
print("Current working directory:", os.getcwd())

# If not in the project root, change to it
project_root = r"C:\Users\USER\Documents\Projects\JJM-attrition-rate"
if os.getcwd() != project_root:
    os.chdir(project_root)
    print("Changed working directory to:", os.getcwd())

Current working directory: c:\Users\USER\Documents\Projects\JJM-attrition-rate\notebooks
Changed working directory to: C:\Users\USER\Documents\Projects\JJM-attrition-rate

In [5]:
# Load cleaned data
display(Markdown("""
## Load Cleaned Data
We start by loading the cleaned dataset prepared in the previous step.
"""))
clean_df = pd.read_csv('data/employee_data_cleaned.csv')
clean_df.head()

## Load Cleaned Data
We start by loading the cleaned dataset prepared in the previous step.

,EmployeeId,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,2,37,1.0,Travel_Rarely,1141,Research & Development,11,2,Medical,1,...,1,80,0,15,2,1,1,0,0,0
1,3,51,1.0,Travel_Rarely,1323,Research & Development,4,4,Life Sciences,1,...,3,80,3,18,2,4,10,0,2,7
2,4,42,0.0,Travel_Frequently,555,Sales,26,3,Marketing,1,...,4,80,1,23,2,4,20,4,4,8
3,7,40,0.0,Travel_Rarely,1124,Sales,1,2,Medical,1,...,3,80,3,6,2,2,4,3,0,2
4,8,55,1.0,Travel_Rarely,725,Research & Development,2,3,Medical,1,...,4,80,1,24,2,3,5,2,1,4

In [6]:
# Engineer features
display(Markdown("""
## Engineer Features
We apply feature engineering techniques to create new variables that may help predict attrition.
"""))
features_df = engineer_features(clean_df)
features_df.head()

## Engineer Features
We apply feature engineering techniques to create new variables that may help predict attrition.

,EmployeeId,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,YearsSinceLastPromotion,YearsWithCurrManager,AgeGroup,TenureRatio,OverallSatisfaction,SalaryToAgeRatio,SalaryToTenureRatio,PromotionRate,RoleStability,TravelImpact
0,2,37,1.0,Travel_Rarely,1141,Research & Development,11,2,Medical,1,...,0,0,36-45,0.066667,1.25,129.108108,4777.00,1.0,0.00,1
1,3,51,1.0,Travel_Rarely,1323,Research & Development,4,4,Life Sciences,1,...,2,7,46-55,0.555556,2.75,48.254902,246.10,5.0,0.00,1
2,4,42,0.0,Travel_Frequently,555,Sales,26,3,Marketing,1,...,4,8,36-45,0.869565,3.25,322.023810,676.25,5.0,0.20,2
3,7,40,0.0,Travel_Rarely,1124,Sales,1,2,Medical,1,...,0,2,36-45,0.666667,2.75,186.425000,1864.25,4.0,0.75,1
4,8,55,1.0,Travel_Rarely,725,Research & Development,2,3,Medical,1,...,1,4,46-55,0.208333,3.00,361.072727,3971.80,5.0,0.40,1

In [7]:
# Save engineered features for modeling
display(Markdown("""
## Save Engineered Features
The engineered features are saved for use in the modeling notebook.
"""))
features_df.to_csv('data/employee_data_features.csv', index=False)

## Save Engineered Features
The engineered features are saved for use in the modeling notebook.