In [1]:
"""
05 Inference
Use the trained model to predict attrition on new/unseen data.
"""

'\n05 Inference\nUse the trained model to predict attrition on new/unseen data.\n'

In [2]:
from src.inference import predict_attrition
from src.feature_engineering import engineer_features
import pandas as pd
from IPython.display import display, Markdown

In [3]:
display(Markdown("""
# Inference
This notebook uses the trained attrition model to make predictions on new or unseen employee data.
"""))

# Inference
This notebook uses the trained attrition model to make predictions on new or unseen employee data.

In [4]:
display(Markdown("""
## Load New/Unseen Data
We load new or held-out employee data for inference. Replace with actual new data as needed.
"""))

## Load New/Unseen Data
We load new or held-out employee data for inference. Replace with actual new data as needed.

In [5]:
import os

# Print current working directory
print("Current working directory:", os.getcwd())

# If not in the project root, change to it
project_root = r"C:\Users\USER\Documents\Projects\JJM-attrition-rate"
if os.getcwd() != project_root:
    os.chdir(project_root)
    print("Changed working directory to:", os.getcwd())

Current working directory: c:\Users\USER\Documents\Projects\JJM-attrition-rate\notebooks
Changed working directory to: C:\Users\USER\Documents\Projects\JJM-attrition-rate

In [6]:
# Load new/unseen data (simulate with held-out set)
infer_df = pd.read_csv('data/employee_data_cleaned.csv')  # Replace with actual new data if available

In [7]:
display(Markdown("""
## Prepare Input Data
We remove columns not needed for prediction (e.g., Attrition, EmployeeId).
"""))

## Prepare Input Data
We remove columns not needed for prediction (e.g., Attrition, EmployeeId).

In [8]:
# Drop Attrition and EmployeeId if present
infer_input = infer_df.drop(columns=[col for col in ['Attrition', 'EmployeeId'] if col in infer_df.columns])

In [9]:
display(Markdown("""
## Engineer Features for Inference
We apply the same feature engineering steps as in training to ensure consistency.
"""))

## Engineer Features for Inference
We apply the same feature engineering steps as in training to ensure consistency.

In [10]:
# Engineer features for inference
df_infer_fe = engineer_features(infer_input)

In [11]:
display(Markdown("""
## Preprocess Categorical Columns
We preprocess categorical variables to match the format used during model training.
"""))

## Preprocess Categorical Columns
We preprocess categorical variables to match the format used during model training.

In [12]:
# Preprocess categorical columns as in training
categorical_cols = ['BusinessTravel', 'Department', 'EducationField', 
                   'Gender', 'JobRole', 'MaritalStatus', 'Over18', 'OverTime', 'AgeGroup']
for col in categorical_cols:
    if col in df_infer_fe.columns:
        df_infer_fe[col] = df_infer_fe[col].astype(str).str.replace(' ', '_').str.replace('&', '_and_')

In [13]:
display(Markdown("""
## Predict Attrition
We use the trained model to predict attrition probabilities and classes for each employee.
"""))

## Predict Attrition
We use the trained model to predict attrition probabilities and classes for each employee.

In [14]:
# Predict attrition
predictions = predict_attrition(df_infer_fe)
predictions.head()

Transformation Pipeline and Model Successfully Loaded

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EnvironmentSatisfaction,Gender,...,AgeGroup,TenureRatio,OverallSatisfaction,SalaryToAgeRatio,SalaryToTenureRatio,PromotionRate,RoleStability,TravelImpact,prediction_label,prediction_score
0,37,Travel_Rarely,1141,Research__and__Development,11,2,Medical,1,1,Female,...,36-45,0.066667,1.25,129.108109,4777.000000,1.0,0.00,1,1,0.6143
1,51,Travel_Rarely,1323,Research__and__Development,4,4,Life_Sciences,1,1,Male,...,46-55,0.555556,2.75,48.254902,246.100006,5.0,0.00,1,1,0.7972
2,42,Travel_Frequently,555,Sales,26,3,Marketing,1,3,Female,...,36-45,0.869565,3.25,322.023804,676.250000,5.0,0.20,2,0,0.7099
3,40,Travel_Rarely,1124,Sales,1,2,Medical,1,2,Male,...,36-45,0.666667,2.75,186.425003,1864.250000,4.0,0.75,1,1,0.6376
4,55,Travel_Rarely,725,Research__and__Development,2,3,Medical,1,4,Male,...,46-55,0.208333,3.00,361.072723,3971.800049,5.0,0.40,1,0,0.8189